if i == Email_ID:
messages.error(request, 'Email Id Already Exist')
else:
m = register(First_Name = First_Name,last_Name = last_Name, phone_number = phone_number ,Email_ID = Email_ID, password = password)
m.save()
transaction.on_commit(r.do_something)




if Email_ID == Email_ID:
messages.error(request, 'Email Id Already Exist')
else:
m = register(First_Name = First_Name,last_Name = last_Name, phone_number = phone_number ,Email_ID = Email_ID, password = password)
m.save()    
transaction.on_commit(r.do_something)  



print(l[1])
                        if l[0][0] == Email_ID:
                                print("email id exist")
                                messages.error(request, 'Email Id Already Exist')
                                return redirect('register.html')
                        else:
                               pass




                               l =[]
                               print(name[0])
                               for i in name:
                                       l.append(i)
                               print(l)
                               for i in l:
                                       if i == Email_ID:
                                               print("email exist")
                                               messages.error(request, 'Email Id Already Exist')
                                       else:
                                               m = register(First_Name = First_Name,last_Name = last_Name, phone_number = phone_number ,Email_ID = Email_ID, password = password)
                                               m.save()    
                                               transaction.on_commit(r.do_something)
                                               break        
                                               
        



                                               

                                               user = None
                                               name = None
                       
                                               try:
                       
                                                       user = register.objects.filter(Email_ID = Email_ID)
                                               except:
                                                       print("hi")
                                                       import pdb
                                                       pdb.set_trace()
                                                       messages.add_message(request, messages.INFO, 'Hello world.')
                                                       messages.error(request,'email id is exist')                       
                                               if len(user) > 0:
                       
                                                       #login(request,user)
                                                       
                                                       
                                               #user = authenticate(request, Email_ID = Email_ID, password = password )
                                               print("hlwww")
                                               m = register(First_Name = First_Name,last_Name = last_Name, phone_number = phone_number ,Email_ID = Email_ID, password = password)
                                               m.save()  
                                               
                                               transaction.on_commit(r.do_something)  
                                               return render(request,"login.html",r.data)






                                               for i in range(l):
                                               print("i1=",i)
                                               print("2")
                                               if user[i]== Email_ID:
                                                       print(user[i])
                                                       print("4")
                                                       print("i2 =",i)
                                                       print("user is present ")
                                                       messages.error(request,"EMAIL ID ALREADY EXIST ")
                                                       return redirect("register")
                                               else:
                                                       print("5")
                                                       m = register(First_Name = First_Name,last_Name = last_Name, phone_number = phone_number ,Email_ID = Email_ID, password = password)
                                                       m.save()  
                                                       transaction.on_commit(r.do_something)
                                                       
                                               break


                                               


                                               for j in password:
                                               print(3)
                                               if i == login_password:
                                                       print(3)
                                                       return render(request,'user.html',r.data)
                                               else:
                                                       return redirect("login")


                                                       if i == login_email:
                                        print(2)
                                        password = register.objects.values_list('password',flat=True)
                                        for j in password:
                                                print(3)
                                                if j == login_password:
                                                        print(3)
                                                        return render(request,'user.html',r.data)
                                else:
                                        return redirect("login")




                                        for j in i:
                                        print(i)
                                        if i == login_email:
                                                for j in password:
                                                        if j == login_password :
                                                                return render(request,'user.html',r.data)
                                        else:
                                                return redirect("login")

                                        break