{% extends 'base.html' %}

{% block content %}

    <section class="grid-section">
        
       <div class="search">
            <input type="text" class="input-search" name="search">
            <input type="button" class="search-buttion" name="search_button" value="search">

       </div> 
       <div class="grid"> 
        
        <div class="grid-items item-1">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Zielona z Kardamonem 500g Ahmad Tea</p>
            <p>24.00$</p>
            <a href=" " class="add-button">Add to basket</a>

        </div>
        <div class="grid-items item-2">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad Tea</p>
            <p>24.00$</p>
            <a href="" class="add-button">Add to basket</a>


        </div>
        <div class="grid-items item-3">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-4">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-5">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-6">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-7">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-8">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-9">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>

        <div class="grid-items item-1">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-2">
            <img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button>
        </div>
        <div class="grid-items item-3"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-4"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-5"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-6"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-7"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-8"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-9"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>

        <div class="grid-items item-1"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-2"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-3"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-4"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-5"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-6"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-7"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-8"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-9"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>

        <div class="grid-items item-1"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-2"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-3"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-4"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-5"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-6"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-7"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-8"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>
        <div class="grid-items item-9"><img src="/static/Images/large_6795-ahmad-tea-cardamom-green-tea-500g.jpg" alt="Herbata Zielona z Kardamonem 500g Ahmad" class="tea-item">
            <p>Herbata Owocowa 4 rodzaje 20 saszetek Ahmad tea</p>
            <button class="add-button">Add to basket</button></div>

       </div>
    </section>


{% endblock %}