{% extends 'base.html' %}

{% block content %}

    <section class="grid-section">
        
       <div class="search">
            <input type="text" class="input-search" name="search">
            <input type="button" class="search-buttion" name="search_button" value="search">

       </div> 
       <div class="grid"> 
        
       {% for i in view %}
            
           
        <div class="grid-items item-1"> 
            
            <img src={{i.item_img}}  alt="image" class="tea-item">
            
            <p>{{i.item_name}}</p>
            <p>{{i.price}}</p>
            <button class="add-button">Add to basket</button> 

        </div>
        {% endfor %}
        

        </div>
        <div class="back_black to_hide">
         <div class="onclick_button">
                <div class="content_in_basket">
                        <h1 class="head_of_content">Product was added to shopping</h1>
                        <p class="to_close_basket">&times;</p>
                </div>
                <div class="content_of_item">

                </div>
            <div>

                <a href="#" class="continue_to_shop">Continue to shop</a>
                <a href="#" class="place_an_order">Place an order</a>
            </div>


        </div>
        
            
        </div>

     
    </section>


{% endblock %}