.register-section
{
    position: relative;
    height:100rem;
    
    background-image: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.8));
    
}
.register-form
{
    background-color: white;
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    height:80rem;
    width:70rem;
    border-radius: 2rem;
    padding:5rem;    
    transform: translate(-50%, -50%);
}
.register-head
{

font-size:2.5rem;
margin-bottom:4rem;
font-weight: 2rem;
}
.common-input
{

margin-bottom:4rem;
padding:2rem;
width:30rem;

}
.error
{
    color:red;
    margin-bottom: 2rem;
    


}
.to-submit
{

    padding:2rem;
    border-radius: 3rem;
    width:16rem;
    background-color: green;
    border: 0;
    font-size: 1.5rem;
    
}
.to-submit:hover{

    cursor:pointer;
    background-color: white;
    border: 0.1rem solid black;
}